[2018-12-23 14:53] vincentneo opened #1 "Crash on attempt to load GPX file"
Attempt to load a GPX file will cause `TBXML`'s childElementNamed function to crash at line:
`TBXMLElement * xmlElement = aParentXMLElement->firstChild;` with error EXC_BAD_ACCESS(code=1, address= 0x20)

[2018-12-28 05:22] vincentneo opened #2 "waypoint and trackpoint produces empty data"

[2019-01-02 13:59] vincentneo commented on #2
Nvm. That did fix it.

[2019-01-02 13:59] #2 closed

[2019-01-02 14:01] vincentneo opened #3 "Extra extensions tag within waypoint or trackpoint"
extra empty tag `<extensions>
		</extensions>`
not observed in iOS-GPX-Framework.

[2019-01-03 07:51] vincentneo opened #4 "Elevation and date time not logged"
This might be related to #3

[2019-01-03 12:44] vincentneo commented on #4
Elevation works, but date still does not.

[2019-01-04 14:00] #4 closed

[2019-01-04 14:00] vincentneo commented on #4
Fixed in commit https://github.com/vincentneo/GPXKit/commit/83d25c3ed747d3980cfc72e0db6513b456d91d4e

[2019-01-11 12:15] vincentneo commented on #1
Fixed with #5 use of native XML parser.

TBXML will be removed soon.

[2019-01-11 12:15] #1 closed

[2019-01-12 10:57] vincentneo opened #6 "GPX parsing datetime not working"
returns current time instead.

[2019-01-13 11:48] #6 closed

[2019-01-13 11:52] vincentneo commented on #6
firstly, the bug does not fully exist. I first tested a gpx file without date recordings.
secondly, this apparently did help find a bug where it may crash when setting date.

[2019-01-18 07:47] jdleung opened #7 "My carelessness"
Since in your installation guidance says:

I did. But there were errors when build the project. I had to spend an hour to search solutions, and failed.

Finally, I found a line on the sample project:

So far, parse GPX file is working fine but there is no instruction on output GPX file.

Can give sample codes?

Thanks.

[2019-01-18 12:29] jdleung opened #8 "Output wrong format"
In current version, tag **trkpt** looks like below which will cause the GPX file error.

[code]
It should be like below
[code]

todo this, the following need to be added in class **GPXTrackPoint**
[code]
and add one more method **addOpenTag**
[code]

[2019-01-18 12:33] jdleung commented on #7
I got some sample code in other similar framework, problem solved but some code need to be modified so that it could output correctly.

[2019-01-18 12:33] #7 closed

[2019-01-20 05:52] vincentneo commented on #8
Thanks for your contribution! I will look into this issue in the next week!

[2019-01-20 05:55] vincentneo commented on #7
@jdleung indeed, I will have to do up some instructions in the near future. As currently, the priority for this project is to optimise the parsing method for GPX files, as it is currently very slow.

Currently, should you have any enquiries, feel free to drop me a issue!

[2019-01-20 11:05] jdleung commented on #7
By now I only use GPX file output function in my APP, it will be great if this part is optimized.

I now use the following code to output ( it works but just don't know if it's the best way):
[code]

[2019-01-22 12:55] vincentneo commented on #7
I've seen your code, and may I ask why the initialisers for GPXWaypoint and GPXTrackPoint have an additional 'time' parameter? has the code been edited or has an extension?

[2019-01-22 13:01] vincentneo commented on #8
class GPXTrackPoint should inherit from GPXWaypoint, which already has the init for coordinates. This does not appear to be right, as it should just work using
` GPXTrackPoint(latitude: INSERT longitude: INSERT)`

[2019-01-22 14:45] vincentneo commented on #8
There does seem to have a problem. My apologies. Will reopen this and check more in-depth

[2019-01-23 09:43] #8 closed

[2019-01-23 09:44] vincentneo commented on #8
This should fix it.

[2019-01-24 00:33] jdleung commented on #7
Yes, I read the GPX file format, it does has a timestamp for waypoint, it also fits my need, so I add it.

[2019-01-24 00:50] jdleung commented on #8
You're right, there should be no timestamp in **trkpt**, but still it needs an **opentag** for coordinates.

[2019-01-24 02:42] jdleung opened #10 "Odd problem"
I installed your new update and used the sample code below:

[code]
Still there is no coordinates in **trkpt** tag

[code]

But It's shown when I ran your Sample project:

[code]

And as you can see above that there is one blank line in my output :-(, though we use the same code to create the file.

BTW, how about change the latitude and longitude value to Double?

[2019-01-24 04:13] jdleung commented on #10
Oooh! Sorry I installed the old version 0.3.3 in pod.

pod update, done.

[2019-01-24 04:14] #10 closed

[2019-01-30 06:32] vincentneo opened #11 "GPX files with more than one track segment may not work properly"

[2019-02-01 11:53] vincentneo commented on #3
commit 7f42537 should fix this issue

[2019-02-04 09:54] vincentneo opened #13 "Support for other platforms"
Platforms such as:
- macOS
- watchOS

Should be supported in near future.

[2019-02-04 09:56] vincentneo opened #14 "Implement extensions"
GPXExtensions not fully implemented yet.

[2019-02-04 10:01] #11 closed

[2019-02-04 10:01] #3 closed

[2019-02-04 10:07] vincentneo opened #15 "Add tests"

[2019-02-07 13:19] #13 closed

[2019-02-10 10:22] #14 closed

[2019-02-10 13:10] vincentneo opened #18 "parsing author, copyright, bounds and other types"
currently these types are ignored by the gpx parser.

[2019-02-11 15:19] vincentneo opened #20 "Build fails"
Will fix tmr. Didn't notice it today that build was failing...

[2019-02-12 04:45] #20 closed

[2019-02-12 11:00] #18 closed

[2019-02-12 14:07] vincentneo opened #21 "Creating GPX file directly"
Option in `GPXRoot` to create GPX file directly from it's contents should be implemented.

[2019-02-16 08:59] #15 closed

[2019-02-16 10:22] vincentneo opened #23 "Fix travis ci config"
Currently not working properly.

[2019-02-16 13:35] vincentneo commented on #23
Particularly schemes:
[code]
...are not detected in travis ci, but detected in my mac.

Currently tests and example in travis ci config is disabled as a result.

[2019-02-17 14:49] #21 closed

[2019-02-18 06:39] lludo opened #25 "Broken parsing since 0.4.2"
This file was parsing properly before I updated to 0.4.2, now it is giving me 0 tracks after parsing. I didn't have time to investigate more yet.
[2019_01_17_10_21_00.gpx.zip](https://github.com/vincentneo/CoreGPX/files/2874300/2019_01_17_10_21_00.gpx.zip)

[2019-02-18 07:09] lludo commented on #25
Nevermind, I'm on a different computer and the path was wrong. When the path is invalid it's failing silently. It's weird that the `XMLParser` property `parserError` is still nil when it cannot read the URL.

[2019-02-18 07:09] #25 closed

[2019-02-18 13:55] vincentneo opened #26 "Add Swift Package Manager Support"
Right now, its CocoaPods ~only.~
UPDATE: Carthage appears to work too

[2019-02-20 12:57] vincentneo commented on #23
Fixed in https://github.com/vincentneo/CoreGPX/commit/dee9084f51645a02c32326c60c3f5ba251383b8d

[2019-02-20 12:57] #23 closed

[2019-02-26 05:03] jdleung opened #27 "Would it be better to set timeZone to local?"
In class GPXType, timezone is set to `TimeZone(secondsFromGMT: 0)`, for my own need, I set it to `NSTimeZone.local`.

[2019-02-26 14:54] vincentneo commented on #27
I believe this is related to #19
(Except that was about parsing, and I believe yours is about generating, but the idea is still the same)
Particularly this part:

Basically, I didn't use local time (and I think you shouldn't too), as the GPX schema (aka what GPX is designed to be) specifically states that date and time stored in the GPX should be in UTC time, not local time.

The GPX standard also

[2019-02-26 14:54] #27 closed

[2019-02-27 02:34] jdleung commented on #27
I'd tried several GPX viewers, they didn't show the correct time. Thanks the information.

[2019-02-27 03:24] jdleung opened #28 "Add link to metadata"
I don't know if my way is correct:
[code]
The above will create an empty link in gpx file, the current codes in class GPXLink:

`        gpx.appendFormat("%@<%@%@>\r\n", indent(forIndentationLevel: indentationLevel), self.tagName())`

It shows correct by changing it to the following:
`        gpx.appendFormat("%@<%@%@>\r\n", indent(forIndentationLevel: indentationLevel), self.tagName(), attribute)

[2019-02-27 03:53] vincentneo commented on #28
I'll investigate this and update this to you later.

[2019-02-27 04:09] #28 closed

[2019-02-27 04:14] vincentneo commented on #28
You are right. I added the `gpx.appendFormat("%@<%@%@>\r\n", indent(forIndentationLevel: indentationLevel), self.tagName(), attribute)` in the latest build.

Will be available in v0.4.4

Thanks for finding this bug out!

[2019-02-27 04:29] vincentneo commented on #28
v0.4.4 has been pushed to CocoaPods.

[2019-03-01 04:46] #26 closed

[2019-03-02 13:28] vincentneo opened #29 "Full Documentation"
Code should always have some kind of documentation for ease of use to users. Should be done in weeks to come.

[2019-03-04 13:27] vincentneo opened #30 "GPXLink improvements"
init with `URL` type should be good, considering href is meant to be a url link.

[2019-03-05 12:51] #30 closed

[2019-03-10 12:27] vincentneo opened #31 "Improve GPXAuthor"
Appears to lack in two other attributes when used for parsing.

[2019-03-17 05:01] #31 closed

[2019-03-23 12:50] vincentneo opened #32 "Allow timezone offset on parsing"
Related to #27 and #19

I was thinking about this for the past few days, and I thought, if there was an option of timezone offset in `GPXParser`, it might actually still be useful, without actually violating the

GPX files all are stored in UTC time, but having a file parsed to local time's offset might still increase its usability, too.

To @lludo, what do you think? Reconsidering your pull reque

[2019-03-24 02:33] coolcooldool opened #33 "Convert.toInt in GPXTrack.swift"
I am sorry, It is maybe a very simple problem.

When I compile an error occured at line 53,
"Use of unresolved identifier 'Convert'; "
①Where is the Convert class?

so, I replace the code
```self.number = Convert.toInt(from: dictionary["number"])```
with
```self.number = integer(from: dictionary["number"])```
②is that ok?

Thanks!

[2019-03-24 05:59] vincentneo commented on #33
Hello @coolcooldool ,

the `Convert` class was added not too long ago, and the integer(from:) method has since been removed, to declutter the code. The `Convert` class is located in `Converters.swift` file.

Have you updated to the latest commit?

Thank you!

[2019-03-24 07:24] #29 closed

[2019-03-26 02:27] coolcooldool commented on #33
Hello @vincentneo

Thank you for your response.
I used the framework with another app project,
maybe update when this framework is changing,
so cause the problem.
I clone the project again and pod update one more time,
This problem is fixed.
Thanks for this good GPX framework!

Thank you!

[2019-03-26 02:27] #33 closed

[2019-03-26 03:28] vincentneo commented on #33
Great to hear that the problem is resolved!
Thanks for the support, too!

Have a great day!

[2019-05-12 17:08] mishamoe opened #36 "GPXTrackPoint extensions property is nil"
I'm trying to parse GPX file exported from Strava app.
It contains track points in the following format.
[code]

After parsing property `extensions` of `GPXTrackPoint` is nil.
Is it possible to extract `hr` value?

[2019-05-12 17:47] vincentneo commented on #36
First off, thanks for using CoreGPX!

For now, parsing of extensions related stuff requires one to modify GPXParser, to allow parsing of extensions. I could have made it parse without such factors, but as I didn’t have the time, and that there seemed no demand for it yet, I didn’t really do anything about it.

The idea would be to allow it as like a regular XML parser would. Something like that. N

[2019-05-13 11:17] mishamoe commented on #36
It would be nice if you could provide the fix in the nearest future.

I've created a fork to solve this issue in a quick way. So I'll use it in my project.
But I'll come back to original CoreGPX when the fix will be available.

Thanks!

[2019-05-13 14:01] vincentneo commented on #36
@mishamoe alright!

[2019-05-18 11:28] vincentneo commented on #36
Hi @mishamoe,
do check out branch [features/GPXExtensions](https://github.com/vincentneo/CoreGPX/tree/features/GPXExtensions) to see if it fits what's needed. If there's things that you feel should be added/removed, do tell me!

Once confirmed to be good and working, I will extend the functionality to other classes as well.

As for the additional clutter, I intend to fix it only in the future, whi

[2019-05-19 13:41] mishamoe commented on #36
Hi @vincentneo,

I've checked on the example of track point provided earlier and it seems like `extensions` property is still nil. Could you use this particular example for testing?

I have one more question. Considering provided example and your changes, how exactly can I extract `gpxtpx:hr` value from the instance of `GPXExtensions`?

Thanks!

[2019-05-19 13:49] vincentneo commented on #36
Hi @mishamoe,
my apologies that I forgot to tell you how to get the values. To get the values in `GPXExtensions`, you can get them in the variable `attributes` in it. (I have also noticed that I did not set them as public earlier on, latest commit should have)

In this case, `extensions` property should not be nil after using the branch. It is advised to use the latest commit from branch `features

[2019-05-19 19:03] thepost opened #38 "Potential TCX support"
You've done a great job in creating a very friendly interface to use this API. Would you be open to expanding this library for TCX support?

I'm looking at adding TCX in my app at the moment, and would be happy to dive deeper into what TCX integration could look like and contribute to the work.

Keeping similar names in convention with the [TrainingCenterDatabase schema](https://www8.garmin.com/xm

[2019-05-20 06:31] vincentneo commented on #38
Hi @thepost,

Thanks for your support in the CoreGPX project! While adding TCX support kind of doesn't suit the name of the project, I am quite okay with having it, as long as the GPX support remaining the main focus of it.

That said, I lack the understanding of what TCX really is, at the present moment. Taking a look at the schema, it seems like a proprietary health-oriented version of GPX.

It

[2019-05-20 14:52] #32 closed

[2019-05-20 14:54] vincentneo opened #39 "Declutter/Revamp GPXParser"
`GPXParser` looks absolutely like a mess right now, and will get worse once `GPXExtensions` features are fully implemented.

Something must be taken to optimize the lengthy code.

[2019-05-28 13:23] stagedataloss commented on #39
test123

[2019-06-05 15:28] INDAPP opened #40 "Incorrect String format in GPXBounds"
3 arguments required, but only one specified.
Insert get tagName and attribute

https://github.com/vincentneo/CoreGPX/blob/49646feeb9b7a12db848b30c2712bf772b0265fa/Classes/GPXBounds.swift#L89

[2019-06-05 16:17] vincentneo commented on #40
Oh no! Glad that you noticed and informed! Must have been my utter neglect toward GPXBounds resulting this.
Will get it fixed tomorrow!

Thank you!

[2019-06-06 01:58] #40 closed

[2019-06-21 14:06] vincentneo commented on #36
Hi @mishamoe,

I have pushed a new commit that aims to make extensions stuff easier.

Let's use back this code as example:
[code]
`let trackpoint = GPXTrackPoint()`,
to access extensions, use `trackpoint.extensions["gpxtpx:TrackPointExtension"]`, and you will get a dictionary, in this case, will be `["gpxtpx:hr", "138"]`

if there is no parent tag (i.e. `<gpxtpx:TrackPointExtension>`), simply use

[2019-06-30 06:16] #36 closed

[2019-07-01 00:18] jdleung opened #41 "Errors on converting to Swift 5.0"
I got following errors when I tried to convert the project to Swift 5.0, how to fix them? Thanks

[2019-07-01 02:04] vincentneo commented on #41
Does the older pull request #34 work? Last remembered the pull request to be working, though its outdated now.

The whole project will be going Swift 5 soon.

[2019-07-01 12:45] vincentneo commented on #41
I have checked that the contents of #34 is still valid, as the project did not require any code changes, except for the project migration stuff to swift 5. As I have said earlier, #34 will be merged to master soon.

[2019-07-01 22:59] jdleung commented on #41
I had tried to clean and delete derived data, not work.
OK, I prefer to wait for the new version with Swift 5.
Thanks.

[2019-07-07 09:22] vincentneo commented on #41
@jdleung,

The project has now been updated for Swift 5 from version 0.6.5.
Please update your pods to use this new version. Will close this for now, as my personal testing showed that it worked.

Thank you!

[2019-07-08 08:22] jdleung commented on #41
CoreGPX has been updated to 0.6.5, the project still can run without error, but the errors still exist when converting to Swift 5.0.

[2019-07-08 09:05] vincentneo commented on #41
@jdleung May I ask what cocoa pods version do you have?

[2019-07-09 13:27] vincentneo commented on #39
Work will be done on branch [refactor/GPXParser](https://github.com/vincentneo/CoreGPX/tree/refactor/GPXParser).

[2019-07-09 13:32] vincentneo opened #42 "Full GPX Extensions Support"
Currently, GPX extensions parsing is not complete, and may not work efficiently or effectively.
Will be reconsidered together with refactoring with `GPXParser`.

[2019-07-12 10:09] jdleung commented on #41
Sorry for delay,

My CocoaPods version is 1.6.1.

Though CoreGPX 0.6.5 is already Swift 5, but when Xcode reminds me to update to Swift 5,  `libCoreGPX.a` is included. Errors still exist even I uncheck it.

[2019-07-12 10:45] vincentneo commented on #41
You should try and update your CocoaPods version. I remember that v1.7.4 is the latest release, and is more suited for >Xcode 10.2 (swift 5.)

After which, run pod update again to see if issue persists.

[2019-07-13 06:26] jdleung commented on #41
Problem exists after update CocoaPods to latest version.

Tried to manually set swift version from 4.2 to 5.0 in all targets, warning disappears and the App runs well but it's an abnormal way. Just a test.

[2019-07-13 07:46] vincentneo commented on #41
Hi

May I ask what abnormal behaviour was observed? Maybe it’s a bug that I didn’t know of.

Also, do always clean project after a pod update. Sometimes not doing that can have abnormal results as well.

Thank you!

[2019-07-13 08:44] jdleung commented on #41
It's the best way to let Xcode convert code from 4.2 to 5.0, otherwise it may cause unknown problem, I think, if I manually(abnormally) only set the Swift version to 5.0.

Project cleaned, Derived Data deleted, CoreGPX uninstalled and installed again for times ;-(

Actually, The App is working well with Swift 4.2 and those warnings, but somehow just want to remove those bright yellow warnings.

[2019-07-13 08:49] vincentneo commented on #41
Is it possible for you to screenshot the list of warnings? Or is it that the warning is the modulemap one? Really wish to iron any remaining bugs out.

[2019-07-13 10:30] jdleung commented on #41
Here is the screenshot, Thanks.
![ 2019-07-13](https://user-images.githubusercontent.com/486474/61170479-2d008200-a59c-11e9-820e-9b4869709ab0.png)

[2019-07-13 11:56] vincentneo commented on #41
I'll try to replicate this issue when free.
For now, I am unable to replicate this weird bug. I will try to use a pre-Swift 5 project for testing to convert.

Apologies that you have to deal with this for now.

[2019-07-13 12:30] jdleung commented on #41
Thank you.

[2019-07-14 09:08] vincentneo commented on #41
May I ask, if you can find ‎⁨ **-INSERT YOUR PROJECT FOLDER-**/⁨Pods⁩/Target Support Files⁩/⁨CoreGPX-iOS⁩/CoreGPX-iOS.modulemap ?

[2019-07-15 22:03] jdleung commented on #41
There is a `CoreGPX/CoreGPX-iOS.moduleMap` in my project Pods, no such folder `CoreGPX-iOS`.

[2019-07-16 17:15] thepost commented on #38
Hi @vincentneo, sorry for the delay.

TCX is proprietary created by Training Peaks, but is an openly supported standard supported by Strava, Garmin, etc. The benefit it adds is that it supports **heart rate** data, **weather**, **lap** times, among other additional attributes specific to exercise.

GPX wasn't actually created as a standard for exercise, so it makes sense that it's lacking data sup

[2019-07-17 01:54] vincentneo commented on #38
Hi @thepost,

Sounds like it can be implemented, but as you've said, maybe as another library.

My original motivation was kind of from the merlos/iOS-Open-Gpx-Tracker, as the original code used in that project was the abandoned iOS-GPX-Framework written in Objective C. I ported it over to swift, and as time goes by, there is now some obvious differences (like Double instead of CGFloat, native XML

[2019-07-17 01:58] vincentneo commented on #41
Yeah that looks like acceptable behaviour of the pods. (I think its called CoreGPX, instead of CoreGPX-iOS due to this being an iOS-only app, am I right?)

Interesting how there is a modulemap there but, not when building in the build directory.

Will continue to research on this, though still inconclusive as of yet.

[2019-07-17 12:44] jdleung commented on #41
Sorry, not iOS-only App, it's been updated to support WatchOS in the new version. Is something wrong with WatchOS? But on Apple Watch, App doesn't use CoreGPX, all data must be transfered to iPhone first if users need to share GPX files.

[2019-07-17 15:09] vincentneo commented on #41
In that case, if CoreGPX lib is only for the iOS app, I would assume that the folder would still be created as CoreGPX, as there is not need for preventing conflicts.

Interesting issue that has lead to no observable, conclusive answer. Will research further.

[2019-07-18 02:12] vincentneo commented on #41
Thought of an idea.

Have you tried cloning the example CoreGPX app, from here? If the example app works, that should mean that there is something wrong with your personal project file configuration, as the "known working" example app, works, but not your personal project.

If the example app doesn't work, then there is probably something wrong on my side, probably something wrong with the podspec

[2019-07-20 00:22] jdleung commented on #41
OK, I'll take a try on a fresh new project later. Thanks.

[2019-07-28 16:10] vincentneo commented on #41
@jdleung,
Hello, any updates? Did it work?
I still failed to replicate your issue, during the past week. Wondering if you found a solution?

Thank you!

[2019-07-29 12:56] jdleung commented on #41
Sorry, my Xcode has been updated to the latest version, new project will be created with Swift 5, I think I cannot replicate another one too.

[2019-07-29 13:47] jdleung commented on #41
I found `coreGPX.modulemap` reference in 3 places(both in `Pods-myProject.debug.xcconfig` and `Pods-myProject.release.xcconfig):
1. OTHER_CFLAGS = $(inherited) -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/CoreGPX/CoreGPX.modulemap"
2. OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/CoreGPX/CoreGPX.modulemap"
3. Targets > CoreGPX > Build S

[2019-07-29 14:08] vincentneo commented on #41
Can you test a new Swift 5 project with this pod installed?

Other than that, the CoreGPX.modulemap references seems consistent? I mean they look like they belong there.

[2019-07-30 01:02] jdleung commented on #41
I did it, but the new project works well since it's created with Swift 5.

Then I tried to set it back to Swift 4.2 in Targets > Build Settings > Swift compiler - Language > Swift Version, Xcode showed up a warning `Conversion to Swift 5 is available`. Clicked and selected `Next` to convert, the errors came out.

`**Convert to Current Swift Syntax Failed**`
`Please ensure that all selected targets

[2019-07-31 14:47] vincentneo commented on #41
Is it possible for you to backup the problematic project, and then try and remove Cocoapods stuff from the project, and to reinstall back all your pods, after that?

In this case, a backup / proper git setup is important, in case something goes wrong along the way.

Information about CocoaPods removal can be found here: https://stackoverflow.com/questions/16427421/how-to-remove-cocoapods-from-a-pr

[2019-08-01 00:43] jdleung commented on #41
I think it will make no difference, the new project was originally created without any Cocoapods stuff, after then installed CoreGPX only.

You can try it yourself:
1. Create a new project
2. Install CoreGPX
3. Set Swift version to 4.2
3. Update to Swift 5

[2019-08-01 13:48] vincentneo commented on #41
Alright, will try to test again in the coming weeks.

[2019-08-05 13:00] #42 closed

[2019-08-08 14:59] #39 closed

[2019-08-14 13:24] vincentneo commented on #41
I tried to replicate with the four steps, but failed to get any errors, by converting to Swift 5.

I changed `SWIFT_VERSION` in `project.pbxproj` from 5.0 to 4.2, and the Xcode Conversion to Swift 5 prompt completed without syntax changes.

I was using Xcode 10.2.1 and latest git master branch of CoreGPX (pre-released 0.7.0), by the way.

Ugh, this issue gets more confusing.

[2019-08-14 16:02] jdleung commented on #41
Set SWIFT_VERSION to 4.2 in Target, not project.

[2019-08-17 12:45] vincentneo opened #48 "Amend access control for certain element classes"
Most elements should not be subclass-able, as to ensure conformance to GPX schema.

[2019-08-20 11:35] vincentneo opened #49 "Subscript features"
Planning on adding some subscript features for some elements like `GPXTrack` for ease of use.

[2019-08-20 12:17] #48 closed

[2019-08-20 12:20] vincentneo opened #51 "Support GPX 1.0 standards"
I believe it would be good to support GPX 1.0 files as well, other than just the GPX 1.1 standard. The goal is to have `GPXParser` auto detect version via `version` attribute defined in the gpx header.

[2019-08-20 14:11] vincentneo commented on #41
When I do that, the Xcode Conversion to Swift 5 prompt completed without syntax changes, again. Further more, the update is available kind of a message warning doesn't even appear.

[2019-08-22 15:04] jdleung commented on #41
OK, it may be the problem of my side, I have to choose to ignore it until it fails to work.

[2019-08-22 15:53] vincentneo commented on #41
Alright. Any updates just reopen this and post it here, ok?
Maybe one day we can sort this out.

Thanks for using this project anyways!

[2019-08-22 15:53] #41 closed

[2019-08-22 15:57] vincentneo commented on #38
Hi @thepost.

I am planning to start work on this probably by the end of this month.
Have explored TCX a little bit more, and it seems to be huge, especially activity.

It will be a spun off side project named CoreTCX, and will be done on and off when I have the time.

[2019-09-15 14:54] vincentneo opened #54 "Documentation should be improved"
Noticed that the jazzy generated docs may look rather awkward for certain classes. Should be improved.

[2019-10-10 02:09] jdleung commented on #41
New report: Just upgraded Xcode to version 11.0, and converted the project to Swift 5 without any error.

[2019-10-10 03:40] vincentneo commented on #41
Thats good to hear!
Thanks for the update, and have a great day ahead!

[2019-10-18 15:50] jearle1974 opened #56 "Compact GPX file"
Would love to see a feature to compact a large gpx file. I have a file with over 23000 track points that crashes due to memory everything I try to overlay it on MKMAPVIEW. Would be great to be able to import the file and then reduce the number of track points without altering the track too much.

[2019-10-18 16:15] vincentneo commented on #56
Hi @jearle1974,

Sorry, but I don't quite understand what you are requesting right now?

I interpreted as either three:
- To only load to a certain extent of track points, for example, first 10000 points
- To strip duplicated or 'near by' points as the file parses
- To remove random points in the gpx file as when parsing, reducing track's accuracy, but improving performance

Do update me on what y

[2019-10-18 18:35] jearle1974 commented on #56
Number 3 was what I was asking, but number 2 is nice as well. Are either of these possible currently?

To strip duplicated or 'near by' points as the file parses

To remove random points in the gpx file as when parsing, reducing track's accuracy, but improving performance

[2019-10-19 13:16] vincentneo commented on #56
@jearle1974 Both are possible, I think.

For the 2nd idea, i think it would work out by having a radius to remove, e.g 200m to remove/skip
For the 3rd idea, I think it will work through random function in `Int`

Once I have the free time, I will work on it!

[2019-10-19 20:12] jearle1974 commented on #56
Wow, thanks! That would be an awesome addition

[2019-10-21 15:52] vincentneo commented on #56
Work will be done on this [branch](https://github.com/vincentneo/CoreGPX/tree/enhancements/56).

Will be done as and when time permits!

[2019-10-22 03:34] lludo commented on #56
@jearle1974 It sounds like this feature is not really the job of a GPX parsing library but the use you make of it on your app side, no?

[2019-10-22 03:44] lludo opened #57 "Swift Package manager does not work due to duplicate class found"
[code]

<img width="1277" alt="Screen Shot 2019-10-21 at 8 42 28 PM" src="https://user-images.githubusercontent.com/631630/67258008-80a82480-f443-11e9-81ae-e5794ea82731.png">

[2019-10-22 03:45] lludo commented on #57
Looks like the `Archived` folder should be removed or excluded from SPM?

[2019-10-22 06:11] vincentneo commented on #57
@lludo , I will remove Archived folder since it no longer holds much value.

Thanks for notifying about this!

[2019-10-22 06:11] #57 closed

[2019-10-22 06:15] vincentneo commented on #56
@lludo, technically, you are right, as I believe it can be done on the personal app side.
That said, I do feel that this may hold value for future and current users, should they want similar functionality, which made me want to try an implementation.

It won't arrive soon though, as I have other (more important, personal) things to do.

[2019-10-22 10:53] jearle1974 commented on #56
You are absolutely right this can be done on the app side, I was just thinking it would be a nice feature to eliminate having to do it on the app side and to add another nice feature to the already awesome work you all have done. Much appreciate all your efforts.

[2019-10-26 14:50] edorphy commented on #57
Will this be in a release soon? First time exploring Swift Package Manager in Xcode 11. I see there is an option to specify a commit, but it would be much cleaner if it was in the normal releases. :)

[2019-10-26 15:23] vincentneo commented on #57
@edorphy,
So sorry! I didn't know much about the package manager, and the fact that it lists via versions just like CocoaPods.

Will make a new release after I type this!

[2019-10-26 15:26] vincentneo commented on #57
Alright! Release 0.7.2 is out!

[2019-10-26 15:49] edorphy opened #58 "Add support for generating extensions like Apple Health export"
Apple Health exports any workout routes as GPX as of iOS 13.1. It would be nice if this library supported generating files with the same extension fields on tracepoints. Specifically the other properties on CLLocation objects, speed, course, hAcc, vAcc.

Sample generated from watch/iPhone simulator and then exported.

<trkpt lon="-122.023202" lat="37.330198">
	<ele>0.000000</ele>
	<time>2019-10-25

[2019-10-26 16:00] edorphy opened #59 "Add convenience initializers for simpler code"
There are many classes that require a line for initialization, another line or two to set a few public properties, then finally appending it to the tree. It would be nice to have some convenience initializers for many of the classes.

Directly from the project markdown you have to do this:
[code]

It would nice to be able to do this instead:
[code]

Or better yet, if willing to make CoreLocation a

[2019-10-26 18:03] edorphy commented on #57
@vincentneo Thanks!

[2019-10-27 03:28] vincentneo commented on #58
Hi @edorphy,

Technically, it is possible to read and write extensions data using `GPXExtensions` right now.
Maybe you would want to try that out? It surely isn't as polished as a hard coded approach, but that is what it is for now. I am thinking that it maybe possible where I support some common extensions types like from Garmin, and this, etc.

Looking at the export though, I am surprised to see

[2019-10-27 04:34] edorphy commented on #58
@vincentneo

I did try using the extensions and extension elements. I was able to get it close to Apple, but it added the parent tag, as expected from the library.

When I was reading the gpx spec (web ref from topografix), I couldn't discern if the extensions type could be any xml nodes, or if they needed to be nested within a parent schema. Is this what you were referring to as apple being non-s

[2019-10-28 11:56] vincentneo commented on #58
@edorphy

Did some codes, and found GPXExtensions rather defective at this point - i just didn't notice it. Using `.append(parent: nil, contents: ["":""])` shouldn't generate a parent tag, but it did.

Will attempt to fix in a couple of days hopefully.

By the way, the reason why I said that Apple's approach seems non-standard is because of this:
[code]

Normally, a schema will be appended to the

[2019-10-28 11:58] vincentneo commented on #59
Apologies for the delay. I thought I have already wrote a reply, when I didn't... Sorry!

I like both ideas, particularly more for the `CLLocation` one. Since `CoreLocation` is available in all 4 apple OSs, it should be fine, without breaking support for any OS or anything.

As with the other issue, will attempt when time permits.

[2019-10-28 13:48] vincentneo commented on #49
After some consideration, this did not seem as well as I first thought.

Note: I may look back at this another day.

[2019-10-28 13:48] #49 closed

[2019-10-30 02:27] edorphy commented on #59
I might send a PR your way if I get to it. The precaution for adding CoreLocation is to make sure that it doesn't force the user to add location permission to the app.

[2019-10-30 14:40] vincentneo commented on #59
I didn't know that adding CoreLocation would force a location permission requirement, in cases like this. That surely wouldn't be nice though.

Is there anyway to add CoreLocation without needing that?

[2019-10-31 02:07] edorphy commented on #59
@vincentneo it depends on which API are called. I believe it is only when CLLocationManager is used for location detection, not just linking CoreLocation to use the CLLocation objects.

One could confirm this by submitting to Apple/TestFlight without the plist key present and see if it fails validation.

If I make a PR, I’ll certainly double check. Another option would be to make a second library

[2019-11-01 14:04] vincentneo commented on #59
@edorphy

Sadly, I did not enrol for the Apple Developer Program, can't test :(
(may do so in future though.)

Would CocoaPods/Carthage work as well? (Since both are supported in project.)

[2019-11-14 00:29] andrijamilovanovic opened #64 "Writing to GPXExtension"
HI,
I'm trying  to add extension with code:

trackpoint.extensions = GPXExtensions()
trackpoint.extensions?.append(at: "gpxtpx:TrackPointExtension", contents: ["gpxtpx:hr":"2"])

Unfortunately, as a result, I'm getting invalid XML where open and closed tags for extensions are not properly paired.

	<trk>
		<trkseg>
			<trkpt lat="1.2345" lon="2.3456">
				<ele>31.92492</ele>
				<time>2019-11-14T0

[2019-11-14 02:26] vincentneo commented on #64
Hi @andrijamilovanovic,

Sorry that this didn't work as expected. The extensions system is still rather buggy. Hopefully when more people uses it, it will get better, as I tend to overlook at certain bugs.

I think that this has something to do with issue #61.  If it was, I should be able to get a fix done within hours.

[2019-11-14 06:03] vincentneo commented on #64
@andrijamilovanovic
Pull request #65 should fix things up!

[2019-11-14 13:30] #64 closed

[2019-11-30 01:01] edorphy commented on #59
@vincentneo Would you mind creating a branch for this? Maybe named enhancements/location-extensions?

I have a small handful of local changes that I can share that do some of the above mentioned.

[2019-11-30 03:43] vincentneo commented on #59
Are you aiming for a separate branch for this functionality? If so I will create a branch called `location-extensions`, as I feel the enhancement prefix makes it a little too long.

If its to be pushed to the master branch one day, just create a pull request.

Thank you!

[2019-12-09 15:33] dkcas11 opened #66 "Support for enforced and/or filtered attributes"
Hi,

From reading the documentation it doesn't seem to be possible apply external rules to the parser.
I'd like to make sure that all points gathered all contain elevation too, and not reiterate over the points again once the parser is complete but rather inject this logic.

Basically inject logic into the check of data, to either ensure the data is correct and throw an error, or simply filter out

[2019-12-10 09:54] vincentneo commented on #66
Hi Casper,

That does sound like a nice idea, though not sure if it would be easy to implement.
I'll probably get to it after #63 is done.

[2019-12-16 03:52] davetroy opened #67 "Link element not populating link property with GPXLink"
Hi, I'm attempting to import a file full of waypoints that look like this:
[code]

When I do this, the waypoint's `link` property is `nil`, while other properties are populated. Any idea what might be causing this? I would expect `link` to be a `GPXLink` and for `link.href` to be equal to `https://www.hmdb.org/m.asp?m=25`. Thanks in advance!

[2019-12-16 06:30] vincentneo commented on #67
I’ll take a look at this issue, later today. I think it probably has something to do with the XML parser

[2019-12-16 10:23] #67 closed

[2019-12-16 10:26] vincentneo commented on #67
@davetroy, so sorry! It was a silly mistake when I did the implementation of the XML parser:
I ignored the link tag when parsing all waypoint types!

Commit https://github.com/vincentneo/CoreGPX/commit/b777c7585e3c454306fb84ec79fae7d6d9f69f17 should fix this.
Do update me if successful, or if some unexpected behaviour occurs.

[2019-12-16 14:21] davetroy commented on #67
That did the trick, thanks so much for the quick fix!

[2019-12-28 19:07] jearle1974 opened #68 "Keep receiving an error with watchOS"
I keep getting an error when I try to run my watchOS application. Am I doing something wrong. I have included it with both my app NLTrails and the NLT-Watch Extension. Here is what I get, I have tried restarting all devices and clean folder with no luck.

dyld: Library not loaded: @rpath/CoreGPX.framework/CoreGPX
  Referenced from: /private/var/containers/Bundle/Application/5AA2A27C-D83A-43CE-8822

[2019-12-29 15:58] vincentneo commented on #68
Hi @jearle1974,

Are you using CocoaPods or Swift Package Manager?

If it's CocoaPods, I suggest that you update it, as that can sometimes cause issues.
That said, googling seem to show quite a number of similar issues.
Do see if some of these helps:
https://github.com/Alamofire/Alamofire/issues/101
https://github.com/CocoaPods/CocoaPods/issues/8664

As for SPM, I did personally encounter an issue

[2019-12-29 16:33] jearle1974 commented on #68
Using CocoaPods and have the latest version except for the beta just released. I will check the parts you shared to see if I can find a solution.

[2019-12-30 17:00] jearle1974 commented on #68
I've tried everything. I cannot figure out how to get this to work. Just not making any sense to me, I must be missing something.

[2019-12-30 17:06] vincentneo commented on #68
How about trying this: remove CoreGPX in the pod file, then run pod install. After that, add it back in the podfile, then run pod install again?

Maybe that would clean up cocoapods in some way or form.

[2019-12-30 18:12] jearle1974 commented on #68
I tried without success. I even uninstalled cocoapods and reinstalled. Still getting the same error. Wondering if it has something to do with the other pods I am using. I will keep trying :( Very frustrating why Xcode is doing this. I cloned iOS-Open-GPX-Tracker and ran it fine from Xcode, but I can not get it to work in my own project.

[2019-12-30 18:14] vincentneo commented on #68
Very weird indeed. Maybe you should try to switch, to say SPM, once I get it settled (as watchOS support for this lib seems broken)

[2019-12-30 18:26] jearle1974 commented on #68
Must be something I am missing. I just added all the pods I am using to the iOS-Open-GPX-Tracker and ran it and everything works. Not sure why it won't work in mine but I will have to keep looking.

[2020-01-03 11:11] jearle1974 commented on #68
Finally figured it out. It was all to do with human error. I renamed / recreated my watch extension at one point early on and missed something in the conversion. After renewing my developer license with apple and running on my iPhone I was able to see the error and upon searching my project located the old reference error.

[2020-01-03 11:11] #68 closed

[2020-01-03 12:07] vincentneo commented on #68
That's good to know!

[2020-01-03 19:35] jearle1974 opened #69 "MetaData Nil"
After creating and saving a GPX file with MetaData and verifying via print that the file does have the MetaData Tags, upon opening the file and converting via

guard let gpx = GPXParser(withURL: curFile)?.parsedData() else { completion(false); return; }
let rideType = gpx.metadata?.keyword

the rideType as well as any other MetaData show nil.

Do you have documentation on how to properly use the M

[2020-01-04 11:31] vincentneo commented on #69
Hi @jearle1974 again,

Interesting encounter... I have tested with my personal private project and on my end, it seems like it seems to be working as expected?

Judging from your two lines, it seems like you are already 'properly' using the metadata.

So, a few questions to ask:
- is `gpx.metadata` itself `nil`?
- was the file generated from CoreGPX?
- if it was generated from CoreGPX, can you che

[2020-01-06 11:39] jearle1974 commented on #69
yes the gpx.metadata itself is nil upon opening the file
yes file was generated from CoreGPX
It looks ok, after saving the file I ran the print root.gpx() and this was the result, I do not have any tracks or track segments as it was only a quick test inside without GPS. I will try adding a location file to see if I get same results.

However after I open the file the metadata is nil as per the att

[2020-01-06 11:51] jearle1974 commented on #69
Even when adding location file and producing tracks and segments with my file I receive the same error. Any thoughts?

![Screen Shot 2020-01-06 at 8 19 50 AM](https://user-images.githubusercontent.com/56170634/71816533-761e2400-305d-11ea-9302-08651f9e32cb.png)

[2020-01-06 14:11] vincentneo commented on #69
I’ll scrutinised my code again tomorrow.
Apologies for having buggy code in this project...

[2020-01-06 14:41] jearle1974 commented on #69
Ok, thanks for removing :)

I would not classify your code as buggy by no means, it is great! I just seem to be having this small issue. It could be on my side...lol

[2020-01-06 15:36] jearle1974 commented on #69
I decided to try adding metadata info in Merlos iOS-Open-GPX-Tracker as well just to test. Upon reopening the file I did receive metadata as nil, same result as noted above.

[2020-01-09 05:05] vincentneo commented on #69
Hi @jearle1974,

Can you try out #70? In my testings it appears to work fine. Thank you.

[2020-01-09 11:15] jearle1974 commented on #69
Works perfect Vincent, thanks for the fix!

[2020-01-09 13:55] vincentneo commented on #69
good to know! will merge #70!

[2020-01-09 13:55] #69 closed

[2020-01-09 13:58] #56 closed

[2020-03-05 14:51] jearle1974 opened #71 "Can't get extensions from file"
Hey Vincentneo, I am trying to pull extensions from a file exported by basecamp but it is showing nothing. Am I doing something wrong? I tried finding some more documentation or examples but never had much luck.

Here is the GPX file

![Screen Shot 2020-03-05 at 11 08 28 AM](https://user-images.githubusercontent.com/56170634/75992630-d0f3c080-5ed2-11ea-9c01-cf5be5a2ae37.png)

and here is where the

[2020-03-05 16:57] jearle1974 commented on #71
Sorry Vincentneo, my bad, I was able to get the extension TrackExtension after, I didn't realize it was under track, I was trying to receive from Root.

However, once I load the TrackExtension it says it has 0 children? Any ideas

[2020-03-06 14:39] vincentneo commented on #71
Hi @jearle1974
It does look like a possible bug based on my testing. Let me devise a fix. Thanks for reporting about the bug!

[2020-03-06 15:08] vincentneo commented on #71
Pull Request #72 should fix. Do try it out!

[2020-03-09 16:51] jearle1974 commented on #71
Working great, thank you!

[2020-03-10 15:02] #71 closed

[2020-04-13 23:10] Zakalicious opened #73 "Are routepoints parsed?"
I can import waypoints, trackpoints, but not routepoints. Is this feature not implemented?

Reading a valid gpx file with one route and 46 routepoints GPXParser(withURL: fileURL)?.parsedData() shows one route and zero routepoints.

Thanks.

[2020-04-14 03:17] vincentneo commented on #73
Hey @Zakalicious ,

Thanks for opening this issue. I've just checked my implementation, and clumsy me, actually forgot to implement it for the route points! I wouldn't have noticed it if not for this issue.
Will open a pull request real soon!

[2020-04-14 09:21] #73 closed

[2020-04-19 02:36] hsnetzer opened #75 "Newer release?"
Installing with `pod 'CoreGPX'` installs a rather old version that I doesn't support extensions very well. People might not know that the development version fixes this and maybe more. When are you planning the next release?

[2020-05-06 14:12] vincentneo commented on #75
My sincere apologies for the delay!
CoreGPX 0.8.0 is out for pod install!

Thanks for reminding me by the way

[2020-05-06 14:12] #75 closed

[2020-05-20 00:05] perbrondum opened #76 "garmin Vers 1.1 gpx files do not parse"
The date is OK but no waypoints are found. Are Garmin files not supported?
I can not attach my GPX's

[2020-06-04 07:15] georgbachmann commented on #51
+1 This would be great!!!

[2020-06-04 14:49] vincentneo commented on #51
Wow I just noticed the response from this.

Surely this would be one priority for this project now.

[2020-06-04 14:51] vincentneo commented on #76
@perbrondum,
so sorry for missing out on this one. Can I have additional information regarding the problem? I don't need the file, but one segment of the waypoint XML would be nice to have for debugging.

[2020-06-05 14:07] vincentneo commented on #51
I was researching about v1 differences when I chanced upon that there was actually schemas on their website for GPX v0.4, v0.5, v0.6 and v1.2...

I didn't know that GPX had a v1.2. Not much difference though, mostly just to highlight a version change and a `strict` rule on one of the tags, probably suggesting that it was cancelled.

[2020-06-08 08:24] georgbachmann opened #79 "GPXParser forceContinue not working, spelling mistake."
I just got a gpx file that wasn't able to be parsed using CoreGPX. Turns out that there is a tag called `name` in there, that will make the parser fail. (`GPXError.parser.fileDoesNotConformSchema`)
I would suggest the parser to simply ignore that field?!?

Here's a short version from that gpx file
[code]

[2020-06-08 09:20] vincentneo commented on #79
Hi @georgbachmann,

I assume that you are using `.failibleParsedData(forceContinue: false)`.
For that, it is designed to be restrictive.

If you wanted to parse without caring if the gpx file contained additional tags, use `.parsedData()` instead. It will provide you a parsed `GPXRoot` that should contain all the data the wanted, minus the erroneous <name> tag.

I hope this helps, do reopen if pro

[2020-06-08 09:23] georgbachmann commented on #79
Thanks for your help @vincentneo . But I am using it like this: `gpxParser.failibleParsedData(forceContinue: true)
But i'll switch and use the `parsedData()` instead! Thanks!

[2020-06-08 09:30] vincentneo commented on #79
Alright!

By the way with your issue, it kinda seem to also flag out a mistake on my end upon further looking, as `forceContinue` is unimplemented... Oh well. Will reopen this issue as a reminder to myself to make it do what its suppose to do.

[2020-06-13 06:47] #54 closed

[2020-06-13 16:38] #79 closed

[2020-06-13 16:40] vincentneo commented on #79
I actually forgot that `forceContinue` was meant for the `XMLParser` errors and not `GPXParser`, hence, I only changed the name and pushed.

Oh well, guess I would have to have better documentation next time.

[2020-06-30 16:51] vincentneo opened #80 "Unknown problem where parsed Date objects are treated as nil in Xcode"
Observed from https://github.com/merlos/iOS-Open-GPX-Tracker/issues/173

Appears that GPXDateParser refuses to work when in async thread. More debugging required to understand issue.

Interesting:
- Xcode shows `Date` object as `nil`, yet, it is able to print date object out.
- Could well be an Xcode issue, since its printable meaning its not actually `nil`

[2020-07-03 09:58] vincentneo commented on #80
Xcode issue. Might be worthy for to be filed to apple.

[2020-07-03 09:58] #80 closed

[2020-08-06 20:38] perbrondum commented on #76
<?xml version="1.0" encoding="UTF-8"?>
<gpx creator="Garmin Connect" version="1.1"
  xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/11.xsd"
  xmlns:ns3="http://www.garmin.com/xmlschemas/TrackPointExtension/v1"
  xmlns="http://www.topografix.com/GPX/1/1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://www.garmin.com/xmlschemas/GpxExtens

[2020-08-09 13:34] vincentneo commented on #76
is this fragment within the waypoint as an extension?

have you check `GPXExtension`?

[2020-12-22 20:01] perbrondum opened #84 "Support for comparing GPX routes."
Similar to wisaaco/MatchGPX. This would allow comparison of routes in maps highlighting differences.

[2020-12-23 16:50] vincentneo commented on #84
I will have a look at MatchGPX.

[2020-12-24 17:03] #51 closed

[2021-01-31 20:37] VilemKurz opened #85 "Waypoint link property (GPXLink) should be an array"
First of all, thank you for such a great lib. It is very useful.

According to [GPX 1.1 spec](http://www.topografix.com/GPX/1/1/) waypoint can have unlimited number of links. So, `GPXWaypoint` should have `var links: [GPXLink]?` instead of current `var link: GPXLink?`. Same applies to `GPXRoute` and `GPXTrack`. Would you find the time to fix this?

[2021-02-03 14:53] vincentneo commented on #85
interesting. looks like I might have missed this. will attempt to fix this asap!

[2021-02-12 16:03] vincentneo commented on #85
this should be fixed in #86. Once I validate this code, it will be merged.

Thanks for the heads up about this issue! Would not have known that I misread the schema :)

[2021-02-19 09:49] #85 closed

[2021-02-19 16:19] vincentneo commented on #59
I have added a file that should work for your use case via a drag and drop. This should be safer than in any other way, and can still be maintained.

[2021-02-19 16:19] #59 closed

[2021-02-21 15:23] jdleung opened #90 "CoreGPX.modulemap not found again"
I had reported `CoreGPX.modulemap not found` before, and fixed it by new version CocoaPods and Xcode.

Today such error came out again after I added `use_frameworks!` in Podfile. It works again when I remove `use_frameworks!`.

I have latest CocoaPods and Xcode installed.

[2021-02-21 15:54] vincentneo commented on #90
seems to work fine from my end, tried with a new project, and I have always used `use_frameworks!` in any of my projects.

May I know more information about the issue?
Are you targeting the cocoa pods version 0.8.2 or master branch?

[2021-02-22 08:59] jdleung commented on #90
There was a line in **Other Swift Flags**
`-fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/CoreGPX/CoreGPX.modulemap"`

CoreGPX works with `use_frameworks!` after deleted the line.
Thanks.

[2021-02-28 11:04] vincentneo commented on #90
To be honest, I have no ideas what went wrong, but I have a feeling its another CocoaPods quirk as it commonly happens

[2021-03-27 07:50] alpennec opened #91 "Swift Package not showing all files from the latest version"
I'm trying to use the GPXWaypointProtocol but the file is missing when using SPM. I'm using the latest 0.8.2 release.
Also, it seems other files are missing like GPXLegacy.swift, GPXFix.swift, etc.

<img width="276" alt="image" src="https://user-images.githubusercontent.com/2082662/112714142-45800f80-8ed9-11eb-88e5-aa9cf873dccb.png">

[2021-03-27 08:53] vincentneo commented on #91
Apologies for forgetting to make a new release again...

Have done so now, with release 0.9.0!

Thanks for sending this in! Hope you have a good time using CoreGPX.

[2021-03-27 08:53] #91 closed

[2021-04-28 13:43] alpennec commented on #91
@vincentneo thanks. The latest version is names 1.0 but the release is 0.9.0. Maybe it could be better to sync both in the next release (better for Swift Package Manager where you specify a next major version).

[2022-02-08 15:12] vincentneo opened #94 "Tests are not comprehensive enough"

[2022-02-08 15:13] #90 closed

[2022-04-27 08:05] RheaParks opened #95 "CDATA support"
Hello,

It looks like CoreGPX doesn't handle CDATA very well.

From : https://bivouac.com/pgxPg.asp?pgxId=3428

I had a GPX file with a track title marked with CDATA and GPXParser couldn't parse it. I had to edit my GPX file in order to remove all instances of CDATA, but that mean removing all special characters that needed to be marked with CDATA.

I just wanted to bring this issue to your attent

[2022-04-28 06:34] vincentneo commented on #95
Hi @RheaParks,

Thanks for telling me, I will try to make a GPX file with some CDATA in it to test, and hopefully fix this 🙂

[2022-04-28 08:48] RheaParks commented on #95
Oh yes, I'm sorry I should have provided one. Here's a GPX file with CDATA 🙂

Thank you!

[code]

[2022-04-28 15:43] vincentneo commented on #95
Thanks for the GPX content!

<img width="1661" alt="Screenshot 2022-04-28 at 11 37 12 PM" src="https://user-images.githubusercontent.com/23420208/165790354-9e09dd08-0b08-4167-bd9f-3f4e39fad7b7.png">

However, I think I need more information about the failing file, as a quick modification of the demo application in this repository, seems to parse the CDATA content?
I'm testing via the parser's `.in

[2022-04-29 07:26] RheaParks commented on #95
Hm, so maybe it wasn't CDATA after all? I sent you a smaller file than the one I noticed the issue with. But now, I've written the same test that you did but with the original file that I was sure was problematic and it seems to be working just fine!

![Capture d’écran 2022-04-29 à 09 24 22](https://user-images.githubusercontent.com/73537538/165901319-6199df3f-168b-4075-bb1a-bd77766691d3.png)

I

[2022-05-01 08:04] RheaParks commented on #95
After trying again with the "problematic" file, everything seemed to be working just fine. I wonder if it was an issue with my CDN… But I think we can say it's definitely not CoreGPX. I'm sorry to have bothered you with a false positive, I hope I won't do it again. 🤦

Thank you for your support @vincentneo!

[2022-05-01 08:04] #95 closed

[2022-05-25 08:18] OlKir opened #96 "fallibleParsedData doesn't support GPX 1.0 parsing"
Thank you for maintaining a great and useful library!
I was happy to see that it now also supports GPX 1.0 files but my first attempts to parse one failed.

Looking into the code I found that flow to parse legacy GPX was added to `parsedData()` but `fallibleParsedData(forceContinue: Bool)` still contains hard check for 1.1 version.

I prefer to use `fallibleParsedData` as it throws error messages

[2022-05-25 16:09] vincentneo commented on #96
Hi @OlKir,

Been a while since I touched the code on this v1 support, I think currently only `.legacyParsingData()` parses that for now. (if I recall correctly)

And yes, this brings up a good point where there isn't feature consistency when parsing between these gpx versions, which is something that I should work on.

Thanks for sending this issue in!